/* Reset CSS básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo del menú */
.menu {
  font-family: 'Artegra Sans Extended SC', sans-serif;
  font-weight: 700; /* Bold */
  background-color: #ffffff;
  padding: 10px;
}

.menu ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.menu ul li {
  display: inline;
}

.menu ul li a {
  font-family: 'Artegra Sans Extended SC', sans-serif;
  font-size: 20px;
  font-weight: 700; /* Bold */
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 20px;
}
.menu ul li:hover {
  background-color: #9edadc; /* Cambiamos el color al hacer hover */
}

/* Estilo de las burbujas flotantes */
.contactos {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.bubble {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  margin-bottom: 10px;
  font-size: 24px; /* Tamaño del ícono */
}

.bubble.small {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
}

.bubble:hover {
  background-color: #000000;
}

/* Estilo de los íconos */
.fa-whatsapp {
  color: #25d366;
}

.fa-facebook-f {
  color: #1877f2;
}

.fa-envelope {
  color: #db4437;
}

/* Estilo de la imagen de fondo */
body {
  font-family: 'Artegra Sans Extended SC', sans-serif;
  background-image: url('a.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Estilo del submenú */
.submenu {
  position: fixed;
  top: 0;
  left: -300px; /* Ocultamos inicialmente el menú */
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  transition: left 0.3s ease; /* Animación de deslizamiento */
}

.submenu ul {
  padding: 20px;
  list-style: none;
  margin: 0;
}

.submenu ul li {
  margin-bottom: 15px; /* Aumentamos el espaciado entre las opciones */
  transition: background-color 0.3s; /* Animación de cambio de color al hacer hover */
  width: 100%; /* Ocupar todo el ancho disponible */
}

.submenu ul li:hover {
  background-color: #9edadc; /* Cambiamos el color al hacer hover */
}

.submenu ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 20px; /* Cambiamos el tamaño de la fuente */
  letter-spacing: 1px; /* Agregamos separación entre las letras */
}

.submenu ul li a:hover {
  color: #fff; /* Cambiamos el color del texto al hacer hover */
}
